h1 Total
  span 34
  i.fa.fa-lock
#container
  form
    p
      label Name On Card
      input(type="text" placeholder="Super Awesome Customer")
    p
      label Card Number
      input(type="text" placeholder="1234 5678 9012 3456")
    p
      label Billing Zip Code
      input(type="text" placeholder="12345")

     input(type="submit" value="Submit Payment")
  